-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", rating, @sel_ratings != nil && @sel_ratings.include?(rating)
  = submit_tag "Refresh", :id => "ratings_submit"

%table#movies
  %thead
    %tr
      %th{:class => @by_column == "title_header" ? "hilite" : nil} 
        <a href="#{movies_path}?s=title_header" id="title_header">Movies</a>
      %th Rating
      %th{:class => @by_column == "release_date_header" ? "hilite" : nil}  
        <a href="#{movies_path}?s=release_date_header" id="release_date_header">Release Date</a>
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
